grid{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-row-gap:1em;
}
col1{
    grid-column: 1/2;
}
col2{
    grid-column: 2/3;
}
col3{
    grid-column: 3/4;
}
col4{
    grid-column: 4/5;
}
col5{
    grid-column: 5/6;
}
col6{
    grid-column: 6/7;
}
