:root{
    --main-color: #4CFC5A;
    --bg-color: #060a08;
}

::selection {
    background: var(--main-color);
  }

@font-face{
    font-family: 'VGA';
    src:url('../fonts/Ac437_IBM_BIOS.ttf') format('truetype');
}
html{
    margin: 0px;
    padding: 0px;
    min-height: 100%;
    height: 100%;
}
body{
    margin:auto;
    margin-top: 10px;
    width: 80%;
    background-color: var(--bg-color);
    color: var(--main-color);
    font-family: 'VGA', 'Courier New', Courier, monospace;
}
header{
    text-align: center;
    padding-bottom:1em;
}
main{
    height: 80%;
    overflow-y:scroll;
    overflow-x: visible;
}
hr { display: block; height: 1px;
    border: 0; border-top: 2px solid var(--main-color);
    margin: 1em 0; padding: 0; }
left{
    float: left;
    width: 50%;
}
right{
    float: right;
    width: 50%;
}
a{ 
    color: inherit;
    text-decoration: none;
}

ul li{
    padding: 1px;
    list-style-type: none; 
}
ul li a{
    display: block;
}
ul li:hover{
    background-color: var(--main-color);
    color: var(--bg-color);
}
ul li a:before{
    content: '\003E\00A0';
}
footer{
    position : fixed;
    bottom : 0;
    height : 40px;
    margin-top : 40px;
}
footer a{
    padding: 1px;
}
footer a:hover{
    background-color: var(--main-color);
    color: var(--bg-color);
}


.crt::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(50, 78, 50, .1) 50%, rgba(0, 0, 0, 0.25) 50%);
    z-index: 2;
    background-size: 100% 5px, 0px 100%;
    pointer-events: none;
    animation: flicker 0.15s infinite;
  }

  @keyframes flicker {
    0% {
    opacity: 0.27861;
    }
    5% {
    opacity: 0.34769;
    }
    10% {
    opacity: 0.23604;
    }
    15% {
    opacity: 0.90626;
    }
    20% {
    opacity: 0.18128;
    }
    25% {
    opacity: 0.83891;
    }
    30% {
    opacity: 0.65583;
    }
    35% {
    opacity: 0.67807;
    }
    40% {
    opacity: 0.26559;
    }
    45% {
    opacity: 0.84693;
    }
    50% {
    opacity: 0.96019;
    }
    55% {
    opacity: 0.08594;
    }
    60% {
    opacity: 0.20313;
    }
    65% {
    opacity: 0.71988;
    }
    70% {
    opacity: 0.53455;
    }
    75% {
    opacity: 0.37288;
    }
    80% {
    opacity: 0.71428;
    }
    85% {
    opacity: 0.70419;
    }
    90% {
    opacity: 0.7003;
    }
    95% {
    opacity: 0.36108;
    }
    100% {
    opacity: 0.24387;
    }
  }