::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border: 0px none #ffffff;
    border-radius: 0px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: var(--main-color);
  }
  ::-webkit-scrollbar-thumb:active {
    background: var(--main-color);
  }
  ::-webkit-scrollbar-track {
    background: var(--bg-color);
    border: 0px none #ffffff;
    border-radius: 0px;
  }
  ::-webkit-scrollbar-track:hover {
    background: var(--bg-color);
  }
  ::-webkit-scrollbar-track:active {
    background: var(--bg-color);
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }